#!/usr/bin/make -f

include debian/xsfbs/xsfbs.mk

# Kill *.la files, and forget no-one:
override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install --fail-missing

# That's a plugin, use appropriate warning level:
override_dh_shlibdeps:
	dh_shlibdeps -- --warnings=6

# Depend on serverabi to get substvars:
override_dh_gencontrol: serverabi
	dh_gencontrol

%:
	dh $@ --with autoreconf,quilt --builddirectory=build/
